body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

#home-section {
  background: url("../img/header.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  border-bottom: #e07d6b 3px solid;
}

#home-section .gradient-overlay {
  background: linear-gradient(rgba(224, 125, 107, 0.8), rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
}

#home-section .home-inner {
  padding-top: 200px;
}

section h2 {
  letter-spacing: 5px;
}

footer {
  background-color: #d3d3d3;
}
